<div class="navbar bg-base-100 shadow-sm px-4">
  <div class="flex-1 ml-5">
    <a class="normal-case text-xl" routerLink="/">The Grove</a>
  </div>

  <div class="flex-none">
    <ul class="menu menu-horizontal gap-2 px-1">
      <li><a routerLink="/students" routerLinkActive="active" class="btn btn-outline btn-primary">Students</a></li>
      <li><a routerLink="/instructors" routerLinkActive="active" class="btn btn-outline btn-primary">Instructors</a></li>
      <li><a routerLink="/classes" routerLinkActive="active" class="btn btn-outline btn-primary">Classes</a></li>
    </ul>
  </div>
</div>
