<nav class="navbar bg-base-100 shadow-sm px-4">
  <div class="flex-1">
    <a class="text-xl font-bold">The Grove</a>
  </div>

  <div class="flex-none">
    <ul class="menu menu-horizontal gap-2 px-1">
      <!-- <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li> -->
      <li><a routerLink="/students" routerLinkActive="active">Students</a></li>
      <li><a routerLink="/instructors" routerLinkActive="active">Instructors</a></li>
      <li><a routerLink="/classes" routerLinkActive="active">Classes</a></li>
    </ul>
  </div>
</nav>
