<div class="flex items-center justify-center h-screen">
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-md border p-4">
    <legend class="fieldset-legend">Register</legend>

    <label class="label">First Name</label>
    <input type="text" class="input" placeholder="First Name" />

    <label class="label">Last Name</label>
    <input type="text" class="input" placeholder="Last Name" />

    <label class="label">Email</label>
    <input type="email" class="input" placeholder="Email" />

    <label class="label">Phone Number</label>
    <input type="tel" class="input" placeholder="Phone Number" />

    <label class="label">Date of Birth</label>
    <input type="date" class="input" placeholder="Date of Birth" />

    <label class="label">Password</label>
    <input type="password" class="input" placeholder="Password" />

    <button class="btn btn-neutral mt-4">Register</button>
  </fieldset>
</div>
